@import "bootstrap";
@import "font-awesome";

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;	
}

.navbar {
	background: image_url('cartographer.png');
}

.navbar-inverse .navbar-brand {
	color: #92DEDA;
	font-family: 'chunkfiveroman', sans-serif;
	font-size: 26px;
}

.pagination {
  justify-content: center;
 	background: #92DEDA;
  cursor: default;
  height: 22px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: image_url('cartographer.png');
    color: white;
    border: 1px solid white;
  }
  a {
    font-style: normal;
    font-weight: bold;
    color: white;
    background: image_url('cartographer.png');
    border: 1px solid white;
    &:hover, &:focus {
      color: white;
      border-color: white;
    }
  }
  .page_info {
    background: #303033;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #1d1d1e;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}


body {
	background: image_url('mochaGrunge.png');
	box-shadow: 0px 1px 3px #2a2a2a;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}